
$dashboard-orange: rgba(255,152,0,.7)!important;
$amberLighten2: #ffd54f;
$java-yellow: #FFFAA5;
$dashboard-not-paid: red;
$dashboard-success: green;
$lightGrey: rgba(129, 129, 129, 0.38);
$buttonGrey: grey;
$customizationGrey: rgba(120, 120, 120, 0.1);
$buttonOrange: rgba(245, 124, 0, 1);
$sidebarWidth: 350px;
$headerBlack: #212529;

// Material Design Checkbox
$md-checkbox-margin: 16px 0;
$md-checkbox-checked-color: rgba(255,152,0,.7)!important;
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);
$md-checkbox-size: 20px;
$md-checkbox-padding: 4px;
$md-checkmark-width: 2px;
$md-checkmark-color: #fff;